<div class="card shadow mb-6">
    <div class="card-header py-5">
      <h6 class="m-0 font-weight-bold text-primary">{{ title }}</h6>
      <hr />
      <button class="btn btn-primary" routerLink="/nueva-venta">Nuevo</button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>#</th>
              <th>Producto</th>
              <th>Cantidad</th>
              <th>Total</th>
              <th>Fecha_venta</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            @for (stock of stocks; track stock.ID_venta; let i =
            $index) {
            <tr>
              <td>{{ i + 1 }}</td>
              <td>{{ stock.Nombre }}</td>
              <td>{{ stock.Cantidad }}</td>
              <td>{{ stock.Total }}</td>
              <td>{{ stock.Fecha_venta }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-outline-warning"
                  routerLink="/editar-venta/{{ stock.ID_venta }}"
                >
                  Editar
                </button>
                <button
                  type="button"
                  class="btn btn-outline-danger"
                  (click)="eliminar(stock.ID_venta )"
                >
                  Eliminar
                </button>
              </td>
            </tr>
            }@empty {
            <tr>
              <td colspan="5">No existen registros</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <button (click)="alerta()">mensaje</button>
