 
<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">{{ title }}</h6>
    </div>
    <!--form-->
    <div class="card-body">
    <form [formGroup]="stock" (ngSubmit)="grabar()">
    <div class="mb-2">
     <label for="ID_producto"> Producto </label>
     
    <select class="form-control" formControlName="ID_producto">
      <option value="0">--Seleccione una opción--</option>
      @for (producto of ListaProducto; track producto.ID_producto ) {
      <option [value]="producto.ID_producto">
        {{ producto.Nombre }}
      </option>
      }
    </select>
  
    </div>
   
       <div class="mb-2">
        <label for="Cantidad"> Cantidad </label>
        <input type="text" class="form-control" formControlName="Cantidad"/>
     <!--  @if (stock.invalid && (stock.dirty || stock.touched)) {
           <div class="alert">
             @if (stock.errors?.["required"]) {
             <div class="ng-invalid">Cantidad es requerido</div>
             }
           </div>
           }-->
       </div>
       <div class="mb-2">
        <label for="Total"> Total </label>
        <input type="text" class="form-control" formControlName="Total"/>
      <!--  @if (stock.invalid && (stock.dirty || stock.touched)) {
           <div class="alert">
             @if (stock.errors?.["required"]) {
             <div class="ng-invalid">Precio de Venta es requerido</div>
             }
           </div>
           }-->
       </div>
       <div class ="mb-2">
        <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!stock.valid"
      >
        Grabar
      </button>
      <button class="btn btn-secondary" routerLink="/stocks">
        Cancelar
      </button>
       </div>
       
 </form>
   </div>  
</div> 
